</html lang="en">
<%- include('./header.ejs');%>

	<body>
		<div class="container">
			<%- include('./menu.ejs');%>
				<!-- <div class="row"> -->
				<label for="insegnamento">Cerca le lezioni relative ad un insegnamento</label>
				<div class="input-group">
					<select name="insegnamento" class="form-control">
						<% for (var i=0; i < ins.length; i++) { %>
							<option value="<%= ins[i].CodiceI %>">
								<%= ins[i].Nome %>
							</option>
							<% } %>
					</select>
					<span class="input-group-btn">
						<button id="btnSearch" type="button" class="btn btn-primary">Cerca</button>
					</span>
				</div>

				<% if (lez !==null) { %>
					<div>
						<table class="table table-hover">
							<tr>
								<th>Orario Inizio</th>
								<th>Orario Fine</th>
								<th>Giorno</th>
								<th>Nome Aula</th>
								<th>Sede Aula</th>
								<th></th>
							</tr>
							<% for (var i=0; i < lez.length; i++) { %>
								<% if(lez[i].IdPrenotazione==null) { %>
									<tr>
										<% } else { %>
									<tr class="success">
										<% } %>
											<td>
												<%= lez[i].orainizio %>
											</td>
											<td>
												<%= lez[i].orafine %>
											</td>
											<td>
												<%= lez[i].gg %>
											</td>
											<td>
												<%= lez[i].nome %>
											</td>
											<td>
												<%= lez[i].sede %>
											</td>
											<td>

												<% if(lez[i].idPrenotazione==null) { %>
													<form method="POST" action="/dashboard/save" style="margin: 0; padding: 0;">
														<input type="hidden" value="<%= lez[i].id %>" name="idLezione">
														<input type="hidden" value="<%= matricola %>" name="matricola">
														<input type="hidden" value="<%= idInsegnamento %>"
															name="idInsegnamento">
															<button type="submit" class="btn btn-success btn-sm" >
																<span class="glyphicon glyphicon-ok"
																	aria-hidden="true"></span>
															</button>
													</form>
													<% } else { %>
														<form method="POST" action="/dashboard/delete" style="margin: 0; padding: 0;">
															<input type="hidden" value="<%= lez[i].idPrenotazione %>"
																name="idPrenotazione">
															<input type="hidden" value="<%= idInsegnamento %>"
																name="idInsegnamento">

															<button type="submit" class="btn btn-danger btn-sm" >
																<span class="glyphicon glyphicon-trash"
																	aria-hidden="true"></span>
															</button>

														</form>
														<% } %>
											</td>
									</tr>
									<% } %>
						</table>
					</div>
					<% } %>
		</div>
		<script>


			$("#btnSearch").click(function () {
				var insegnamento = $("[name='insegnamento']").val();
				window.location.href = "/dashboard/reservation?id=" + insegnamento;
			});

			// $("#btnPrenotazione").click(function () {
			// 	alert("prenotazione");
			// });
		</script>
	</body>

	</html>