</html lang="en">
<%- include('./header.ejs');%>

	<body>
		<div class="container">
			<%- include('./menu.ejs');%>
				<!-- <div class="row"> -->
				<label for="insegnamento">Cerca le lezioni relative ad un insegnamento</label>
				<div class="input-group">
					<select name="insegnamento" class="form-control">
						<% for (var i=0; i < ins.length; i++) { %>
							<option value="<%= ins[i].CodiceI %>">
								<%= ins[i].Nome %>
							</option>
							<% } %>
					</select>
					<span class="input-group-btn">
						<button id="btnSearch" type="button" class="btn btn-primary">Cerca</button>
					</span>
				</div>

				<% if (lez !== null) { %> 
				<div>
					<table class="table table-bordered">
						<tr>
							<th>Orario Inizio</th>
							<th>Orario Fine</th>
							<th>Giorno</th>
							<th>Nome Aula</th>
							<th>Sede Aula</th>
						</tr>
						<% for (var i=0; i < lez.length; i++) { %>
							<tr>
								<td>
									<%= lez[i].orainizio %>
								</td>
								<td>
									<%= lez[i].orafine %>
								</td>
								<td>
									<%= lez[i].gg %>
								</td>
								<td>
									<%= lez[i].nome %>
								</td>
								<td>
									<%= lez[i].sede %>
								</td>
								<% } %>
							</tr>

					</table>
				</div>
				<% } %> 
		</div>
		<script>


			$("#btnSearch").click(function () {
				// alert("search");
				var insegnamento = $("name=[insegnamento]").val();
				window.location.href = "/dashboard/reservation?id=10";
			});
		</script>
	</body>

	</html>