<html>
<%- include('./header.ejs');%>

  <body>
    <div class="container">
      <%- include('./menu.ejs');%>

        <div class="row">
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <%=data[0].Nome%>, <%=data[0].Cognome%>
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic"
                      src="https://www.flaticon.com/svg/static/icons/svg/758/758771.svg"
                      class="img-circle img-responsive">
                  </div>
                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Email:</td>
                          <td>
                            <%=data[0].Email%>
                          </td>
                        </tr>
                        <tr>
                          <td>Recapito Telefonico:</td>
                          <td>
                            <%=data[0].NumeroTelefonico%>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div align="right">
                    <a href="/home/editProfile" role="button" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-pencil"></span>&nbsp; Modifica
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </body>

</html>